<template>
    <div class="container">
      <div class="row">

    <transition name="custom-classes-transition"
    enter-active-class="animated fadeInLeft"
    leave-active-class="animated fadeOutLeft fast" mode="out-in">

             <div class="col-md-12 mt-5" v-if="activities == true" key="true">
                <div class="card list-card">
                <div class="row mt-4">
                                        <div class="col-3 ml-1">
                                            <button class="btn btn-primary btn-sm pull-right" @click="newModal">Add New <i class="fas fa-user-plus fa-fw"></i></button>
                                            <button v-if="this.items.length > 0" class="btn btn-primary btn-sm pull-left" @click="deleteItems()" >Delete <i class="fas fa-trash fa-fw"></i></button>
                                        </div>
                                    
                                        <div class="col-8 mr-1">
                                            <input class="form-control" @keyup="searchit" v-model="search" type="search" placeholder="Search" aria-label="Search">
                                        </div>
                </div>

                <!-- /.card-header -->
                <div class="card-body table-responsive p-0 mt-4">
                    <table class="table table-hover tablelead">
                    <tbody>
                        <tr>
                            <th></th>
                            
                            <th>Lead Name</th>
                            <th>Event</th>
                            <th>Status</th>
                            <th>Mobile</th>
                            <th>Owner</th>
                            <th>Action</th>
                        </tr>
                        <tr v-for="lead in leads.data" :key="lead.id">
                            <td>
                                <input :id='lead.id' type="checkbox" v-model="items" :value="lead.id" name="lead_id" class="lead_id" ref="leadcheck">
                            </td>
                            <td>
                                <a href="#" @click="showlead(lead)">{{ lead.first_name }} {{ lead.last_name }}</a>
                            </td>
                            <td>{{ lead.created_at | myDate }}</td>
                            <td>{{ lead.status.value }}</td>
                            <td>{{ lead.mobile }}</td>
                            <td>{{ lead.user.first_name }}</td>
                        
                            <td>
                                <a   @click.prevent="editModal(lead)">
                                    <i class="fa fa-edit blue"></i>
                                </a>
                                /
                                <a href="#" @click="deleteLead(lead.id)">
                                            <i class="fa fa-trash red"></i>
                                </a>
                                
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <pagination :data="leads" @pagination-change-page="getResults"></pagination>
                </div>
                </div>
                <!-- /.card -->
            </div>
           
             <!-- Modal  CREATE / EDIT LEAD-->
           <div class="col-md-12 mt-5" v-if="activities == false" key="false">

               <div class="card">
                    <h5 class="card-title text-center"><span>{{ editmode ? 'EDIT LEAD' : 'CREATE LEAD' }}</span></h5>
               </div>

              <div class="card list-card mt-2">
                  <div class="card-body table-responsive p-0">
                      <form @submit.prevent="editmode ? updateLead() : createLead()">
                                <div class="card-body">

                                        <ul class="nav nav-pills ml-auto p-2">
                                            <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">Lead Information</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Address information</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#tab_3" data-toggle="tab">Description information</a></li>
                                            

                                            <li class="nav-item" v-if="editmode">
                                                <a href="#tab_4" data-toggle="tab" class="nav-link">Activities</a>
                                            </li>

                                            <li class="nav-item" v-if="editmode"><a class="nav-link" href="#tab_5" data-toggle="tab">Notes</a></li>
                                    
                                        </ul>

                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_1">
                                                  <div class="row">

                                                        <div class="col-md-4">
                                                            <label for="">Lead Owner</label>
                                                           
                                                            <select name="user_id" id="" v-model="form.user_id"  class="form-control user_id" :class="{ 'is-invalid': form.errors.has('user_id') }">
                                                                 <option  :value="null" disabled>Select Lead Owner</option>
                                                                <option :value="ls.id" v-for="ls in users" :key="ls.id">{{ ls.first_name }}</option>
                                                            </select>
                                                            <has-error :form="form" field="user_id"></has-error>

                                                           
                                                        </div>
                                                
                                                  
                                                        <div class="col-md-4">
                                                                <label for="">First name</label>
                                                                <input v-model="form.first_name" type="text" name="first_name"
                                                                        placeholder="First Name"
                                                                        class="form-control first_name" :class="{ 'is-invalid': form.errors.has('first_name') }">
                                                                    <has-error :form="form" field="first_name"></has-error>
                                                        </div>
                                                
                                                        <div class="col-md-4">
                                                                <label for="">Last name</label>
                                                                    <input v-model="form.last_name" type="text" name="last_name"  placeholder="Last Name"
                                                                        class="form-control last_name" :class="{ 'is-invalid': form.errors.has('last_name') }">
                                                                    <has-error :form="form" field="last_name"></has-error>
                                                                
                                                        </div>

                                                    
                                                    </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="">Phone</label>
                                                        
                                                                <input v-model="form.phone" type="text" name="phone" maxlength="15"
                                                                    placeholder="Phone"
                                                                    class="form-control phone" :class="{ 'is-invalid': form.errors.has('phone') }">
                                                                <has-error :form="form" field="phone"></has-error>
                                                        
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for="">Mobile</label>
                                                        
                                                                <input v-model="form.mobile" type="text" name="mobile" maxlength="15"
                                                                    placeholder="Mobile"
                                                                    class="form-control mobile" :class="{ 'is-invalid': form.errors.has('mobile') }">
                                                                <has-error :form="form" field="mobile"></has-error>
                                                            
                                                    </div>

                                                    
                                                </div>

                                                <div class="row">
                                                     <div class="col-md-4">
                                                            <label for="">Credit report </label>
                                                            
                                                                        <select name="" id=""  class="form-control payment20" v-model="form.credit_report" :class="{ 'is-invalid': form.errors.has('payment20') }">
                                                                            <option  :value="null" disabled>Select Credit Report</option>
                                                                            <option value="1">Yes</option>
                                                                            <option value="0">No</option>
                                                                        </select>
                                                                    <has-error :form="form" field="payment20"></has-error>
                                                            
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for="">Lead Source</label>
                                                                
                                                                        <select name="source_id" id=""  class="form-control source_id" v-model="form.source_id" :class="{ 'is-invalid': form.errors.has('source_id') }">
                                                                            <option  :value="null" disabled>Select Lead Source</option>
                                                                            <option :value="ls.id" v-for="ls in leadsource" :key="ls.id">{{ ls.value }}</option>
                                                                        </select>
                                                                    <has-error :form="form" field="source_id"></has-error>
                                                            
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label for="">Source name</label>
                                                            
                                                                    <input type="text" name="leadsourcenames" id="" placeholder="Source name"  class="form-control leadsourcenames" v-model="form.leadsourcenames" :class="{ 'is-invalid': form.errors.has('leadsourcenames') }">
                                                                       
                                                                        <has-error :form="form" field="leadsourcenames"></has-error>
                                                            
                                                        </div>
                                                    </div>

                                                    
                                                <div class="row">
                                                        <div class="col-md-4">
                                                            <label for="">$ 20.00 </label>
                                                            
                                                                        <select name="payment20" id=""  class="form-control payment20" v-model="form.payment20" :class="{ 'is-invalid': form.errors.has('payment20') }">
                                                                           <option  :value="null" disabled>Select Payment 20$</option>
                                                                            <option value="1">Yes</option>
                                                                            <option value="0">No</option>
                                                                        </select>
                                                                    <has-error :form="form" field="payment20"></has-error>
                                                            
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label for="">$ 50.00 </label>
                                                            
                                                                    <select name="payment50" id=""  class="form-control payment50" v-model="form.payment50" :class="{ 'is-invalid': form.errors.has('payment50') }">
                                                                           <option  :value="null" disabled>Select Payment 50$</option>
                                                                            <option value="1">Yes</option>
                                                                            <option value="0">No</option>
                                                                        </select>
                                                                    <has-error :form="form" field="payment50"></has-error>
                                                            
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label for=""> Program </label>
                                                            
                                                                        <select name="program_id" id=""  class="form-control program_id" v-model="form.program_id" :class="{ 'is-invalid': form.errors.has('program_id') }">
                                                                           <option  :value="null" disabled>Select Program</option>
                                                                           <option :value="ls.id" v-for="ls in program" :key="ls.id">{{ ls.value }}</option>
                                                                        </select>
                                                                    <has-error :form="form" field="program_id"></has-error>
                                                                
                                                        </div>

                                                    </div>

                                                    <div class="row">
                                                    
                                                        <div class="col-md-6">
                                                            <label for="">Lead status </label>
                                                                               
                                                                <select name="leadstatus_id" id=""  class="form-control leadstatus_id" v-model="form.leadstatus_id" :class="{ 'is-invalid': form.errors.has('leadstatus_id') }">
                                                                             <option  :value="null" disabled>Select Lead Status</option>
                                                                             <option :value="ls.id" v-for="ls in leadstatus" :key="ls.id">{{ ls.value }}</option>
                                                                </select>
                                                                    <has-error :form="form" field="leadstatus_id"></has-error>
                                                                
                                                        </div>
                                                    </div>
                                            </div>


                                            <!-- /.tab-pane -->
                                                    <div class="tab-pane" id="tab_2">
                                                                   <div class="row">
                                                                        <div class="col-md-6">
                                                                            <label for="">Street</label>
                                                                                        <input type="text" placeholder="Street address" name="street" id=""  class="form-control street" v-model="form.street" :class="{ 'is-invalid': form.errors.has('street') }">
                                                                                            
                                                                                    <has-error :form="form" field="street"></has-error>
                                                                            
                                                                        </div>

                                                                        <div class="col-md-6">
                                                                            <label for="">City</label>
                                                                                        <input type="text" placeholder="City" name="city" id="city"  class="form-control city" v-model="form.city" :class="{ 'is-invalid': form.errors.has('city') }">
                                                                                         
                                                                                        <has-error :form="form" field="city"></has-error>
                                                                            
                                                                        </div>
                                                                    </div>

                                                                     <div class="row">
                                                                        <div class="col-md-4">
                                                                            <label for="">State</label>
                                                                                        <input type="text" placeholder="State" name="state" id="state"  class="form-control state" v-model="form.state" :class="{ 'is-invalid': form.errors.has('state') }">
                                                                                            
                                                                                    <has-error :form="form" field="state"></has-error>
                                                                            
                                                                        </div>

                                                                        <div class="col-md-4">
                                                                            <label for="">Country</label>
                                                                                        <input type="text" placeholder="Country" name="country" id=""  class="form-control country" v-model="form.country" :class="{ 'is-invalid': form.errors.has('country') }">
                                                                                           
                                                                                        <has-error :form="form" field="country"></has-error>
                                                                            
                                                                        </div>

                                                                        <div class="col-md-4">
                                                                            <label for="">Zip Code</label>
                                                                                        <input type="text" placeholder="Zip Code"  name="zipcode" id=""  class="form-control zipcode" v-model="form.zipcode" :class="{ 'is-invalid': form.errors.has('zipcode') }">
                                                                                            
                                                                                        <has-error :form="form" field="zipcode"></has-error>
                                                                            
                                                                        </div>
                                                                    </div>
                                                    </div>
                                            <!-- /.tab-pane -->
                                                    <div class="tab-pane" id="tab_3">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                     <label for="">Description</label>
                                                                    <textarea name="description" class="form-control description" id="" cols="30" rows="5" v-model="form.description"></textarea>
                                                                </div>
                                                            </div>
                                                    </div>
                                            <!-- /.tab-pane -->
                                              <!-- /.tab-pane -->
                                                    <div class="tab-pane" id="tab_4">
                                                            <div class="row">
                                                                    <div class="col-md-6">
                                                                        <label for="">Task</label>
                                                                        <a href="#" @click="createdTask(form.id)" class="badge badge-info"><i class="fa fa-plus"></i> New Task </a>
                                                                            <div class="">
                                                                        <h3></h3>
                                                                        <table class="table table-responsive">
                                                                            <thead>
                                                                                    <th>Subject</th>
                                                                                    <th>Owner</th>
                                                                                    <th>Status</th>
                                                                                    <th>Due Date</th>
                                                                                    <th>Priority</th>
                                                                                    <th>Delete</th>
                                                                            </thead>

                                                                            <tbody>
                                                                                <tr v-for="task in tasks.data" :key="task.id" >
                                                                                  
                                                                                        <td> <a href="#" @click="EditTask(task)">{{ task.subject }}</a> </td>
                                                                                        <td>{{ task.users.first_name }}</td>
                                                                                        <td>{{ task.status.value }}</td>
                                                                                        <td>{{ task.date_created | myDate }}</td>
                                                                                        <td>{{ task.priority.value }}</td>
                                                                                        <td>
                                                                                                <a href="#" @click="deleteTask(task.id)">
                                                                                                                <i class="fa fa-trash red"></i>
                                                                                                    </a>
                                                                                        </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                     <div class="card-footer">
                                                                        <pagination :data="tasks" @pagination-change-page="getResultsTask"></pagination>
                                                                    </div>


                                                                </div>
                                                                         <div class="col-md-6">
                                                                            <label for="">Event</label>
                                                                            <a href="#" @click="createdEvent(form.id)" class="badge badge-info"><i class="fa fa-plus"></i> New Event </a>
                                                                                <div class="">
                                                                            <h3></h3>
                                                                            <table class="table table-responsive">
                                                                                <thead>
                                                                                        <th>Title</th>
                                                                                        <th>Owner</th>
                                                                                        <th>Location</th>
                                                                                        <th>Description</th>
                                                                                        <th>From</th>
                                                                                        <th>To</th>
                                                                                        <th>Delete</th>
                                                                                       
                                                                                </thead>

                                                                                <tbody>
                                                                                    <tr v-for="ev in events.data" :key="ev.id">
                                                                                        <td><a href="#" @click="EditEvent(ev)">{{ ev.title }}</a></td>
                                                                                        <td>{{ ev.users.first_name }}</td>
                                                                                        <td>{{ ev.location }}</td>
                                                                                        <td>{{ ev.description }}</td>
                                                                                        <td>{{ ev.from | myDate }}</td>
                                                                                        <td>{{ ev.to | myDate }}</td>
                                                                                         <td>
                                                                                                <a href="#" @click="deleteEvent(ev.id)">
                                                                                                                <i class="fa fa-trash red"></i>
                                                                                                    </a>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                              <div class="card-footer">
                                                                                <pagination :data="events" @pagination-change-page="getResultsEvent"></pagination>
                                                                            </div>

                                                                        </div>
                                                                </div>
                                                               
                                                            </div>

                                                    </div>
                                            <!-- /.tab-pane -->


                                                     <!-- /.tab-pane NOTE -->
                                                    <div class="tab-pane" id="tab_5">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                        <label for="">Notes</label>
                                                                       
                                                                           
                                                                       
                                                                    <div class="">
                                                                           <form>
                                                                                   <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                    <div class="form-group">
                                                                                                        <textarea  name="text" class="form-control text" id="" cols="30" rows="3" v-model="note.text" :class="{ 'is-invalid': note.errors.has('text') }"></textarea>
                                                                                                            <has-error :form="note" field="text"></has-error>
                                                                                                            <br>
                                                                                                            
                                                                                                            <button @click.prevent="saveNote(form.id)" class="btn btn-sm btn-primary addbutton"> <i class="fa fa-plus"></i> add</button>  
                                                                                                
                                                                                                        </div>

                                                                                            </div>

                                                                                            <div class="col-md-12 my-2" >
                                                                                                <div>
                                                                                                        <ul class="list-unstyled my-2 border " v-for="note in notes.data" :key="note.id">
                                                                                                            <li class="media">
                                                                                                                    <img class="mr-3 img-responsive" :src="'/images/avatar.png'" alt="">
                                                                                                                    <div class="media-body">
                                                                                                                        <h5 class="mt-0 mb-1">{{ note.users.first_name }} - <em style="font-size:12px;">{{ note.created_at | myDate }}</em></h5> 

                                                                                                                        <p>{{ note.text }}</p>
                                                                                                                    </div>

                                                                                                                    <div>
                                                                                                                    Lead - <span>{{ note.lead.first_name }}</span> 
                                                                                                                    </div>
                                                                                                                </li>

                                                                                                        </ul>
                                                                                                         <div class="card-footer">
                                                                                                            <pagination :data="notes" @pagination-change-page="getResultsNote"></pagination>
                                                                                                        </div>
                                                                                                </div>

                                                                                                
                                                                                                
                                   
                                                                                            </div>
                                                                                            
                                                                                    </div>

                                                                            </form>
                                                                                 


                                                                        <br>
                                                                       
                                                                    </div>


                                                                </div>
                                                                      
                                                            </div>
                                                    </div>
                                                      <!-- /.tab-pane NOTE -->
                                            </div>
                                    


                                </div>
                                <div class="card-footer">
                                    <button type="button" @click.prevent="activities = true" class="btn btn-close" data-dismiss="modal">Close</button>
                                    <button v-show="editmode" type="submit" class="btn btn-primary update">Update</button>
                                    <button v-show="!editmode" type="submit" class="btn btn-primary create">Create</button>
                                </div>

                        </form>

                  </div>
              </div>
          </div>   
              <!-- END Modal CREATE / EDIT LEAD-->
    </transition>

   
             
             
                    <div class="col-md-8">
                    <!-- Modal SHOW USER-->
                        <div class="modal fade" id="showleadData" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"  id="addNewLabel">Show Lead</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                                <div class="row">
                                                        <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>First Name: <label name="first_name" v-text="show.first_name"></label></p>
                                                                </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Last Name: <label name="last_name" v-text="show.last_name"></label></p>
                                                                </div>
                                                        </div>

                                                         <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Owner lead: <label name="user_id" v-text="show.user_id"></label></p>
                                                                </div>
                                                        </div>

                                                         <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Lead Source: <label name="source_id" v-text="show.source_id"></label></p>
                                                                </div>
                                                        </div>

                                                         <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Lead Source name: <label name="leadsourcenames" v-text="show.leadsourcenames"></label></p>
                                                                </div>
                                                        </div>

                                                         <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Program: <label name="program_id" v-text="show.program_id"></label></p>
                                                                </div>
                                                        </div>

                                                         <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Phone: <label name="phone" v-text="show.phone"></label></p>
                                                                </div>
                                                        </div>

                                                         <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Mobile: <label name="mobile" v-text="show.mobile"></label></p>
                                                                </div>
                                                        </div>

                                                          <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Credit report: <label name="credit_report" v-text="show.credit_report"></label></p>
                                                                </div>
                                                        </div>

                                                         <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Payment 20: <label name="payment20" v-text="show.payment20"></label></p>
                                                                </div>
                                                        </div>

                                                         <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Payment 50: <label name="payment50" v-text="show.payment50"></label></p>
                                                                </div>
                                                        </div>

                                                         <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Lead Status: <label name="leadstatus_id" v-text="show.leadstatus_id"></label></p>
                                                                </div>
                                                        </div>

                                                         <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Street: <label name="street" v-text="show.street"></label></p>
                                                                </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>City: <label name="city" v-text="show.city"></label></p>
                                                                </div>
                                                        </div>

                                                         <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>State: <label name="state" v-text="show.state"></label></p>
                                                                </div>
                                                        </div>

                                                          <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Country: <label name="country" v-text="show.country"></label></p>
                                                                </div>
                                                        </div>

                                                         <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Zip Code: <label name="zipcode" v-text="show.zipcode"></label></p>
                                                                </div>
                                                        </div>

                                                         <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Description: <label name="description" v-text="show.description"></label></p>
                                                                </div>
                                                        </div>

                                                          <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <p>Created by: <label name="created_by" v-text="show.created_by"></label></p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    <!-- End Modal -->
                    </div>

                    <!-- MODAL BY CREATE TASKS -->
                        <div class="modal fade" id="createtask" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
                                 <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                             <div class="modal-header">
                                                <h5 class="modal-title"  id="addNewLabel" v-show="!editmodeT">Create Task</h5>
                                                 <h5 class="modal-title"  id="addNewLabel" v-show="editmodeT">Edit Task</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                              <form @submit.prevent="editmode ? UpdateTask() : createTask()">
                                                    <div class="modal-body">
                                                        
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <select name="user_id" id="" v-model="task.user_id"  class="form-control user_id" :class="{ 'is-invalid': task.errors.has('user_id') }">
                                                                            <option  :value="null" disabled>Select Owner Lead</option>
                                                                            <option :value="ls.id" v-for="ls in users" :key="ls.id">{{ ls.first_name }}</option>
                                                                        </select>
                                                                       
                                                                        <has-error :form="form" field="user_id"></has-error>
                                                                    </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                    <div class="form-group">
                                                                            <input v-model="task.subject" type="text" name="subject"
                                                                                placeholder="Subject"
                                                                                class="form-control" :class="{ 'is-invalid': task.errors.has('subject') }">
                                                                            <has-error :form="task" field="subject"></has-error>
                                                                        </div>
                                                            </div>
                                                        </div>

                                                        
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                        <div class="form-group">
                                                                                <select name="taskpriorities_id" id="" v-model="task.taskpriorities_id"  class="form-control taskpriorities_id" :class="{ 'is-invalid': task.errors.has('taskpriorities_id') }">
                                                                                      <option  :value="null" disabled>Select Priority</option>
                                                                                     <option :value="ls.id" v-for="ls in priority" :key="ls.id">{{ ls.value }}</option>
                                                                                 </select>
                                                                                <has-error :form="form" field="email"></has-error>
                                                                            </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                    <div class="form-group">
                                                                            <input type="date" v-model="task.date_created" name="date_created" id="date_created"
                                                                            class="form-control" :class="{ 'is-invalid': form.errors.has('date_created') }" >
                                                                            <has-error :form="form" field="date_created"></has-error>
                                                                        </div>

                                                            </div>
                                                        </div>

                                                         <div class="row">
                                                            <div class="col-md-6">
                                                                        <div class="form-group">
                                                                                <select name="taskstatuses_id" id="" v-model="task.taskstatuses_id"  class="form-control taskstatuses_id" :class="{ 'is-invalid': task.errors.has('taskstatuses_id') }">
                                                                                      <option  :value="null" disabled>Select Status</option>
                                                                                     <option :value="ls.id" v-for="ls in status" :key="ls.id">{{ ls.value }}</option>
                                                                                 </select>
                                                                                <has-error :form="form" field="taskstatuses_id"></has-error>
                                                                            </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <textarea name="description" class="form-control description" id="" cols="30" rows="5" v-model="task.description"></textarea>

                                                                            <has-error :form="form" field="description"></has-error>
                                                                        </div>

                                                            </div>
                                                        </div>

                                                    

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
                                                        <button type="submit" v-show="!editmodeT" @click.prevent="SaveTask()" class="btn btn-primary create">Create</button>
                                                          <button type="submit" v-show="editmodeT" @click.prevent="UpdateTask()" class="btn btn-primary update">Update</button>
                                                    </div>

                                            </form>

                                        </div>
                                 </div>
                        </div>

                    <!-- END MODAL -->

                      <!-- MODAL BY CREATE EVENTS -->
                        <div class="modal fade" id="createevent" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
                                 <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                             <div class="modal-header">
                                                <h5 class="modal-title" v-show="!editmodeE"  id="addNewLabel">Create Event</h5>
                                                 <h5 class="modal-title"  v-show="editmodeE" id="addNewLabel">Update Event</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form >
                                                    <div class="modal-body">
                                                        
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                    <div class="form-group">
                                                                            <input v-model="event.title" type="text" name="title"
                                                                                placeholder="Title"
                                                                                class="form-control" :class="{ 'is-invalid': form.errors.has('title') }">
                                                                            <has-error :form="form" field="title"></has-error>
                                                                        </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <select name="user_id" id="" v-model="event.user_id"  class="form-control user_id" :class="{ 'is-invalid': event.errors.has('user_id') }">
                                                                            <option  :value="null" disabled>Select Lead</option>
                                                                            <option :value="ls.id" v-for="ls in users" :key="ls.id">{{ ls.first_name }}</option>
                                                                        </select>
                                                                       
                                                                        <has-error :form="form" field="user_id"></has-error>
                                                                    </div>
                                                            </div>

                                                         
                                                        </div>

                                                        
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                        <div class="form-group">
                                                                                 <input type="text" v-model="event.location" name="location" id="location"
                                                                            placeholder="Location"
                                                                            class="form-control" :class="{ 'is-invalid': form.errors.has('location') }" >
                                                                                <has-error :form="form" field="location"></has-error>
                                                                            </div>
                                                            </div>

                                                          

                                                            <div class="col-md-6">
                                                                <v-select v-model="participants" label="value" :options="options" multiple  placeholder="Participants" class="partic"></v-select>
                                                            </div>

                                                              <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <textarea name="description" class="form-control description" id="" cols="30" rows="5" v-model="event.description"></textarea>

                                                                            <has-error :form="form" field="description"></has-error>
                                                                        </div>

                                                            </div>
                                                          
                                                        </div>

                                                         <div class="row">
                                                            <div class="col-md-4">
                                                                    <div class="form-group">
                                                                            <input type="date" v-model="event.from" name="from" id="from"
                                                                            placeholder="From Date"
                                                                            class="form-control" :class="{ 'is-invalid': form.errors.has('from') }" >
                                                                            <has-error :form="form" field="from"></has-error>
                                                                        </div>

                                                            </div>

                                                              <div class="col-md-4">
                                                                    <div class="form-group">
                                                                            <input type="date" v-model="event.to" name="to" id="to"
                                                                            placeholder="To Date"
                                                                            class="form-control" :class="{ 'is-invalid': form.errors.has('to') }" >
                                                                            <has-error :form="form" field="to"></has-error>
                                                                        </div>

                                                            </div>

                                                            <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label for="">All Day</label>
                                                                           <input type="checkbox" name="all_day" id="all_day" v-model="event.all_day">
                                                                            <has-error :form="form" field="to"></has-error>
                                                                        </div>

                                                            </div>

                                                            
                                                        </div>

                                                    

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
                                                        <button type="submit" v-show="!editmodeE" @click.prevent="SaveEvent()" class="btn btn-primary create">Create</button>
                                                         <button type="submit" v-show="editmodeE" @click.prevent="UpdateEvent()" class="btn btn-primary update">Update</button>
                                                        
                                                    </div>

                                            </form>

                                        </div>
                                 </div>
                        </div>

                    <!-- END MODAL -->



                    


    </div>

       




    </div>
</template>

<script>
    export default {
        data() {
            return {
                leads:{},
                users: [],
                items:[],
                options:[],
                leadsource: [],
                leadstatus:[],
                activities:true,
                program: [],
                priority:[],
                status:[],
                tasks:{},
                events:{},
                participants:[],
                notes:{},
                lead_id:{id:''},
                editmode: false,
                editmodeE: false,
                editmodeT: false,
                
                form: new Form({
                    id:'',
                    user_id:null,
                    first_name:'',
                    last_name:'',
                    source_id:null,
                    leadsourcenames:null,
                    program_id:null,
                    phone:'',
                    mobile:'',
                    credit_report:null,
                    payment20:null,
                    payment50:null,
                    leadstatus_id:null,
                    street:'',
                    city:'',
                    state:'',
                    country:'',
                    zipcode:'',
                    description:''
                }),
                dataccess: false,
                show :{
                     first_name:'',
                     last_name:'',
                     user_id:'',
                     source_id:'',
                     leadsourcenames:'',
                     program_id:'',
                     phone:'',
                     mobile:'',
                     credit_report:'',
                     payment20:'',
                     payment50:'',
                     leadstatus_id:'',
                     street:'',
                     city:'',
                     state:'',
                     country:'',
                     zipcode:'',
                     description:'',
                     created_by:''
                },
                search:'',
                task: new Form({
                    id:'',
                    user_id:null,
                    subject:'',
                    date_created:'',
                    lead_id:'',
                    taskstatuses_id:null,
                    taskpriorities_id:null,
                     description:'',
                  
                }),
                 event: new Form({
                     id:'',
                    user_id:null,
                    title:'',
                    location:'',
                    lead_id:'',
                    all_day:'',
                    from:'',
                    to:'',
                    description:'',
                    participants:[],
                }),
                note: new Form({
                    user_id:'',
                    lead_id:'',
                    text:''
                }),
                 pagex: 1,
            }
        },
        methods: {
            getResults(page = 1) {
                        axios.get('/api/leads?page=' + page)
                            .then(response => {
                                this.leads = response.data;
                            });
                },
                getResultsNote(pagex = 1){
                         axios.get('crm-notes/'+this.lead_id.id+'?page=' + pagex)
                            .then(response => {
                                this.notes = response.data;
                                //console.log(this.notes);
                            });
                },
                getResultsTask(page = 1){
                     axios.get('crm-tasks/'+this.lead_id.id+'?page=' + page)
                            .then(response => {
                                this.tasks = response.data;
                                //console.log(this.notes);
                            });
                },
                 getResultsEvent(page = 1){
                     axios.get('crm-events/'+this.lead_id.id+'?page=' + page)
                            .then(response => {
                                this.events = response.data;
                                //console.log(this.notes);
                            });
                },
            updateLead(){
                this.$Progress.start();
                let button = $('.update');

                button.attr('disabled',true);
               
                this.form.put('/api/leads/'+this.form.id)
                .then(() => {
                  
                    this.activities = true;

                    toast.fire('Updated!', 'Information has been updated.',
                        'success')
                
                        this.$Progress.finish();
                         Fire.$emit('AfterCreate');
                          button.attr('disabled',false);
                          
                })
                .catch(() => {
                    this.$Progress.fail();
                });
            },
            editModal(lead){
                 this.activities = false;
                 this.form.fill(lead);
                 this.editmode = true;
                 this.dataccess = true;
                 this.loadTasks(lead);
                 this.loadEvents(lead);
                 this.loadNote(lead);
                 this.getDataExt();
                    this.lead_id = lead;

                     this.note.user_id = window.user.id;
                     this.note.lead_id = lead.id;
                 
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                this.dataccess = false;

              this.activities= false;
            },
            deleteLead(id){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                   confirmButtonColor: '#ab9220',
                    cancelButtonColor: '#8f9194',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                this.form.delete('/api/lead/'+id).then(()=>{
                                        swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                    Fire.$emit('AfterCreate');
                                }).catch(()=> {
                                    swal("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })
            },
            loadLeads(){
                axios.get("/api/leads").then( ({data}) => (this.leads = data)).catch( (error) => {
                          console.log(error.response);
                      });
            },
           
            getData(){
                 axios.get("/getdata").then( (res) => {
                           this.leadsource = res.data.leadsource;
                            this.program = res.data.program;
                             this.leadstatus = res.data.leadstatus;

                              this.users = res.data.owner;
                            res.data.owner.map( (val) => {
                                this.options.push({'id': val.id, 'value': val.first_name});
                               
                            } )

                      }).catch( (error) => {
                          console.log(error.response);
                      });
            },
          
            getDataExt(){
                      axios.get("/getdata/ext").then( (res) => {
                            this.status = res.data.taskstatus;
                            this.priority = res.data.taskpriority;
                      }).catch( (error) => {
                          console.log(error.response);
                      });
            },
           
            createLead() {
             
              this.$Progress.start();
                this.form.post('/leads')
                .then( () => {
                    Fire.$emit('AfterCreate');
                   // $('#addNew').modal('hide');
                    this.activities= true;

                    toast.fire({
                        type: 'success',
                        title: 'Lead Created in successfully'
                        });
                         this.loadLeads();

                     
                     this.dataccess = false;
                     this.$Progress.finish();
                   
                })
                .catch( (errors) => {
                   // console.log(errors);
                })
            },
            loadTasks(lead){
              
                 axios.get("crm-tasks/"+ lead.id).then( ({data}) => (this.tasks = data));
            },
            loadDate(){
                  let dateday = new Date();
                    var dd = dateday.getDate();
                    var mm = dateday.getMonth() + 1; //January is 0!
                    var yyyy = dateday.getFullYear();

                    if (dd < 10) {
                    dd = '0' + dd;
                    }

                    if (mm < 10) {
                    mm = '0' + mm;
                    }

                    //dateday = mm + '-' + dd + '-' + yyyy;
                    return dateday = yyyy + '-' + mm + '-' + dd;
            },
            createdTask(lead){
                $('#createtask').modal('show');
                this.task.reset();
                this.task.lead_id = lead;
                this.lead_id.id = lead;
                this.editmodeT = false;
                  //console.log(lead);

                this.task.date_created = this.loadDate();

                //console.log(dateday);
            },
            EditTask(lead){
                  $('#createtask').modal('show');
                   this.task.fill(lead);
                      this.editmodeT = true;
                      //console.log(lead);
            },
               EditEvent(lead){
                  $('#createevent').modal('show');
                   this.participants = [];
                     this.editmodeE = true;
                   this.event.fill(lead);
                    
                      //console.log(lead);
                        if(lead.participants.length > 0){
                            lead.participants.map(val => {
                                //console.log(val);

                                this.participants.push(val.users.first_name);
                              
                            })
                        }

            },
            SaveTask(){
                 this.$Progress.start();
               
                  this.task.post('crm-tasks')
                .then( () => {
                    Fire.$emit('AfterCreate');
                    $('#createtask').modal('hide');

                    swal.fire({
                        type: 'success',
                        title: 'Task Created in successfully'
                        });
                         this.loadTasks(this.lead_id);

                     
                     this.dataccess = false;
                     this.$Progress.finish();
                   
                })
                .catch( (errors) => {
                   // console.log(errors);
                })
            },
            UpdateTask(){
                 this.$Progress.start();
               
                  this.task.put('crm-tasks/'+ this.task.id)
                .then( () => {
                    Fire.$emit('AfterCreate');
                    $('#createtask').modal('hide');

                    swal.fire({
                        type: 'success',
                        title: 'Task Updated in successfully'
                        });
                         this.loadTasks(this.lead_id);

                     
                     this.dataccess = false;
                     this.$Progress.finish();
                   
                })
                .catch( (errors) => {
                   // console.log(errors);
                })
            },
            
            loadNote(lead){

                    axios.get("crm-notes/"+ lead.id).then( ({data}) => (this.notes = data));
            },
            createdNote(lead){
                     $('#createnote').modal('show');
                     //console.log(window.user);
                     this.note.user_id = window.user.id;
                     this.note.lead_id = lead.id;
            },
            saveNote(){
               
                       this.$Progress.start();
                       let addbutton = $('.addbutton');

                       addbutton.attr('disabled', true);
               
                  this.note.post('crm-notes')
                .then( () => {
                    Fire.$emit('AfterCreate');
                    $('#createnote').modal('hide');

                    toast.fire({
                        type: 'success',
                        title: 'Note Created in successfully'
                        });
                         this.loadNote(this.lead_id);

                     this.note.text = '';
                     this.dataccess = false;
                       addbutton.attr('disabled', false);
                     this.$Progress.finish();
                     

                       })
                        .catch( (errors) => {
                        // console.log(errors);
                         addbutton.attr('disabled', false);
                        })
                
                    
                   
            },
            loadEvents(lead){
               
                  axios.get("crm-events/"+ lead.id).then( ({data}) => (this.events = data));
            },
            createdEvent(lead){
                 $('#createevent').modal('show');
                     this.editmodeE = false;
                     this.event.reset();
                      this.participants = [];

                this.event.lead_id = lead;
                 this.event.from = this.loadDate();
                 this.event.to = this.loadDate();
             
            },
            SaveEvent(){
                 this.$Progress.start();

                    this.participants.map( (val) => {
                            this.event.participants.push(val.id);
                    })
               
                  this.event.post('crm-events')
                .then( () => {
                    Fire.$emit('AfterCreate');
                    $('#createevent').modal('hide');

                    toast.fire({
                        type: 'success',
                        title: 'Event Created in successfully'
                        });
                         this.loadEvents(this.lead_id);

                     
                     this.dataccess = false;
                     this.$Progress.finish();
                   
                })
                .catch( (errors) => {
                   // console.log(errors);
                })
            },
             UpdateEvent(){
                 this.$Progress.start();
               
                  this.event.put('crm-events/'+ this.event.id)
                .then( () => {
                    Fire.$emit('AfterCreate');
                    $('#createevent').modal('hide');

                    swal.fire({
                        type: 'success',
                        title: 'Event Updated in successfully'
                        });
                         this.loadEvents(this.lead_id);

                     
                     this.dataccess = false;
                     this.$Progress.finish();
                   
                })
                .catch( (errors) => {
                   // console.log(errors);
                })
            },
            showlead(lead)
            {
                    this.show.first_name = lead.first_name;
                    this.show.last_name = lead.last_name;
                    this.show.user_id = lead.user.first_name;
                    this.show.source_id = lead.source.value;
                    this.show.leadsourcenames = lead.leadsourcenames;
                    this.show.program_id = lead.program.value;
                    this.show.phone = lead.phone == '' ? 'n/a' : lead.phone;
                    this.show.mobile = lead.mobile == '' ? 'n/a' : lead.mobile;
                    this.show.credit_report = lead.credit_report == 1 ? 'Yes' : 'No';
                    this.show.payment20 = lead.payment20 == 1 ? 'Yes' : 'No';
                    this.show.payment50 = lead.payment50 == 1 ? 'Yes' : 'No';
                    this.show.leadstatus_id = lead.status.value;
                    this.show.street = lead.street == "" ? 'n/a': lead.street;
                    this.show.city = lead.city == "" ? 'n/a' : lead.city;
                    this.show.state = lead.state == "" ? 'n/a' : lead.state;
                    this.show.country = lead.country == "" ? 'n/a' : lead.country;
                    this.show.zipcode = lead.zipcode == '' ? 'n/a' : lead.zipcode;
                    this.show.description = lead.description == "" ? 'n/a' : lead.description;
                    this.show.created_by = lead.createby.first_name;

                    
                   // console.log(lead);
                    $('#showleadData').modal('show');
            },
            searchit(){
                    let query = this.search;
                      axios.get('/crm/findlead?q=' + query)
                        .then((data) => {
                            this.leads = data.data
                        })
                        .catch( (errors) => {
                       // console.log(errors);
                        })
            },
            deleteItems() {
                
                let dataids = [];

                    this.items.map( (map) => {
                        dataids.push(map);
                    });


                     swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                      confirmButtonColor: '#ab9220',
                    cancelButtonColor: '#8f9194',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                axios.post('/crm/leads/deleteall', dataids).then((res)=>{
                                        toast.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                        this.loadLeads();
                                     
                                       this.items = [];
                                    Fire.$emit('AfterCreate');
                                }).catch(()=> {
                                    swal("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })

            },
            deleteLead(id){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                       confirmButtonColor: '#ab9220',
                    cancelButtonColor: '#8f9194',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                this.form.delete('/leads/'+id).then(()=>{
                                        swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                        this.loadLeads();
                                    Fire.$emit('AfterCreate');
                                }).catch(()=> {
                                    swal("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })
            },
              deleteTask(id){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#ab9220',
                    cancelButtonColor: '#8f9194',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                this.form.delete('crm-tasks/'+id).then(()=>{
                                        swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                          this.loadTasks(this.lead_id);
                                    Fire.$emit('AfterCreate');
                                  
                                }).catch(()=> {
                                    swal("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })
            },
                deleteEvent(id){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#ab9220',
                    cancelButtonColor: '#8f9194',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                this.form.delete('crm-events/'+id).then(()=>{
                                        swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                          this.loadEvents(this.lead_id);
                                    Fire.$emit('AfterCreate');
                                  
                                }).catch(()=> {
                                    swal("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })
            },
        },
        created() {
            this.loadLeads();
            this.getData();
          
          Fire.$on('AfterCreate',() => {
                this.loadLeads();
              
           });
        //    setInterval(() => this.loadUsers(), 3000);
        },
        
    }
</script>

<style>
    .img-responsive {
        width:30px;
        margin-right:5px;
        height:100%;
        float:left;
    }
</style>