<template>
   <div class="container">
      <div class="row">
          <div class="col-md-12 mt-5">
            <div class="card list-card">
              <div class="card-header">
                <h3 class="card-title">Profiles List</h3>
                <div class="card-tools" style="display:none">
                  <button class="btn btn-success" >Add New <i class="fas fa-user-plus fa-fw"></i></button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody>
                   <tr>
                    <th>ID</th>
                    <th>Profile</th>
                    <th>Registered at</th>
                   </tr>
                   <tr v-for="rol in roles" :key="rol.id">
                    <td>{{rol.id}}</td>
                    <td>
                        <a :href="detail+rol.id" >{{rol.name}}</a>
                    </td>
                    <td>{{rol.created_at | myDate}}</td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

                
        </div>
    </div>
</template>

<script>

    export default {
        mounted() {
            console.log('Component mounted.');
            
        },
        data() {
            return {
                roles: {},
            }
        },
        created() {
                this.getRoles();
        },
        methods: {
            getRoles() {
                     axios.get("api/role").then( ({data}) => (this.roles = data));
            },
            
        },
        computed:{
            detail(){
              return '/details-profile?id=';
            }
        }
    }
</script>
